/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  padding: 30%;
  padding-top: 10%;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
span {
  display: inline-flex;
  color: black;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2em;
}

.calc-bg {
  background: black;
  display: flex;
  justify-content: space-around;
  padding: 10%;
  border-radius: 30px;
  
}

.calc {
  width: 100%;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  height: 2em;
  width: 100%;
  margin-bottom: 40px;
  text-align: right;
}

input[type="text"] {
  font-size: 40px;
}


.calc-buttons {
  align-content: space-around;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
